.wrapper {
    width: 90%;
    background-color: white;
    display: flex;  
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    row-gap: 30px;

}

img {
    width:300px;
    height: 400px;
  }
  